body { 
	background: -webkit-linear-gradient(90deg, #FF3333 10%, #FFFF66 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #FF3333 10%, #FFFF66 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #FF3333 10%, #FFFF66 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #FF3333 10%, #FFFF66 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #FF3333 10%, #FFFF66 90%); /* W3C */
	background-size: cover;
  
  	font-family: "Lucida Grande";
	font-size: 1.8em;
}

.thumbnail {
    display: block;
    padding: 1px;
    margin-bottom: 10px;
    //line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    //border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    max-width: 400px;
}

.col{
	padding-left:5px; 
	padding-right:5px;
}

.trendiDiv {
    position:relative;
    display: inline-block;
}

.trendiOverlay {
    position:absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    z-index: 198;
    display: block;
}

.trendiOverlay path{
    fill-opacity: 0.2;
    fill:white;
    stroke-width: 5;
    stroke:white;
    stroke-opacity: 1;
    cursor: pointer;
    pointer-events:all;
}

.trendiOverlay g:hover path{
    fill-opacity:0.8;
    fill:pink;
}

.row-padded{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
 }

#placeholder{
	height: 130px;
}
.jumbotron {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;

 	font-family: "Didot";
 	color: white;
 	background-color:rgba(0, 0, 0, 0.5);

 	padding: 0.2em 0.3em;
    
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 1.2em;
    }
}

#input_row{
	padding-top: 1.2em;
	padding-bottom: 2em;
}

#query_image_container{
	position: relative;
	display: inline-block;
}

.boundingBox { 
	position: absolute;
	margin: auto;
	cursor: pointer;
	border: 1px solid rgb(198, 185, 215);
	border: 1px solid rgba(198, 185, 215, 0.6);
}

.boundingBox:hover {
	border: 2px solid #F0F8FF; /* make this whatever you want */
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#query_image_row{
	text-align: center;
}

#results{
	padding-top: 1.2em;
}

.footer{
	bottom: 0;
    left: 0;
    width: 100%;
    height: 270px;
    
	position: fixed;
    
	z-index: 3;
}

.panel{
	height: 100%;
}

#top_results_body .resultImage img{
	max-width: 200px;
	max-height: 200px;
}


.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#floatingCirclesG{
	width:128px;
	height:128px;
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
}


.f_circleG{
	position:absolute;
	background-color:#FFFFFF;
	height:23px;
	width:23px;
	-moz-border-radius:12px;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:12px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:12px;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:12px;
	-o-animation-name:f_fadeG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:12px;
	animation-name:f_fadeG;
	animation-duration:1.04s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#frotateG_01{
	left:0;
	top:52px;
	-moz-animation-delay:0.39s;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	animation-delay:0.39s;
}

#frotateG_02{
	left:15px;
	top:15px;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#frotateG_03{
	left:52px;
	top:0;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#frotateG_04{
	right:15px;
	top:15px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#frotateG_05{
	right:0;
	top:52px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#frotateG_07{
	left:52px;
	bottom:0;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	100%{
		background-color:#FFFFFF
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	100%{
		background-color:#FFFFFF
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	100%{
		background-color:#FFFFFF
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	100%{
		background-color:#FFFFFF
	}
}

@keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	100%{
		background-color:#FFFFFF
	}
}